header {
    text-align: center;
    background: image();
    border: white;
    background-size: cover;
    padding: 20px 0px 0px 0px;
    background-color: lightgreen;
    
}

body {
    background-color: black;
    color: lightgreen;

}
.header-pic {
    border: 7px solid white;
}
article {
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    color: lightgreen;
}
h1 {
    font-family: "Limelight", sans-serif;
    font-size: xx-large;
    color: rgb(172, 161, 144);
}

h2 {
    font-family: "DM Serif Text", serif;
    color: rgb(197, 186, 168);
    text-align: center;
}

ul {
    padding: 20px;
}
li {
    display: inline;
    padding: 0px 10px 0px 10px;
}
